/* ===== SIDEBAR ===== */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background: var(--sidebar-bg);
    color: var(--text-light);
    
    top: 0;
    left: 0;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 20px rgba(0,0,0,0.15);
}

/* HEADER LOGO */
.sidebar-header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    font-weight: 600;
    color: var(--text-white);
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* sidebar header */
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    padding: 0;
    border-radius: 6px;
}
.menu-button:hover{
    background: var(--sidebar-hover);
}

/* MENU ITEMS */
.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    margin: 8px 6px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

/* Hover effect */
.menu-item:hover {
    background: var(--sidebar-hover);
    color: var(--text-white);
}

/* Active state */
.menu-item.active {
    background: var(--sidebar-active);
    color: white;
}

.sidebar-footer {
    margin-top: auto;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.08);
}

/* ICON */
.sidebar-icon {
    font-size: 22px;
    min-width: 24px;
}

/* TEXT */
.sidebar-text {
    font-size: 14px;
    white-space: nowrap;
}

/* ===== HEADER ===== */
.header {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 64px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
    transition: var(--transition);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* ===== MAIN ===== */
.main {
    margin-left: 250px;
    padding: 20px;
    transition: var(--transition);
}



html.collapsed .sidebar {
    width: 70px;
}

html.collapsed .header {
    left: 70px;
}

html.collapsed .main {
    margin-left: 70px;
}

html.collapsed .sidebar-text {
    display: none;
}

/* Center items */
html.collapsed .menu-item {
    justify-content: center;
}


.main {
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* CONTENT */
.content-area {
    margin-top: 20px;
    padding: 10px;
}