/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

:root {
    /* colors */
    --body-color: #E4E9F7;
    --sidebar-bg: #0f172a;        /* dark navy */
    --sidebar-hover: #1e293b;
    --sidebar-active: #2563eb;

    --text-light: #cbd5f5;
    --text-white: #ffffff;

    /* transition */
    --transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}


body {
    background: var(--body-color); /*#f4f7fb */
    height: 100vh;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* MAIN */
.main {
    margin-left: 230px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TOPBAR */
.topbar {
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    z-index: 999;
}

/* CONTENT */
.content-area {
    margin-top: 60px;
    padding: 20px;
}

/* TERM DISPLAY */
.term-display {
    background: linear-gradient(180deg, #22c55e, #15803d);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

/* RIGHT TOPBAR */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 14px;
}


