/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f7fb;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #14532d;
    color: white;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}

/* HEADER */
.sidebar-header {
    /* background: rgba(0, 0, 0, 0.2); */
    padding: 18px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid gray;
}

/* MENU ITEMS */
.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 10px;
    margin: 4px 10px;
    transition: all 0.25s ease;
}

/* HOVER */
.menu-item:hover {
    /* font-weight: 500; */
    background: rgba(255, 255, 255, 0.15);
    transform: translateX(3px);
    background-color: #ecfdf5;
    color: #14532d;
}

/* ACTIVE PAGE */
.menu-item.active {
    background: #ecfdf5;
    color: #14532d;
    font-weight: 600;
    /* border: 4px solid #22c55e; */
}

/* ICONS */
.sidebar-icon {
    font-size: 18px;
    color: inherit;
}

/* SIDEBAR FOOTER */
.sidebar-footer {
    margin-top: auto;
    /* padding: 12px; */
    border-top: 1px solid rgba(255,255,255,0.2);
}

/* FOOTER ITEMS */
.sidebar-footer .menu-item {
    font-size: 14px;
}

/* MAIN */
.main {
    margin-left: 230px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TOPBAR */
.topbar {
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    z-index: 999;
}

/* CONTENT */
.content-area {
    margin-top: 60px;
    padding: 20px;
}

/* TERM DISPLAY */
.term-display {
    background: linear-gradient(180deg, #22c55e, #15803d);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

/* RIGHT TOPBAR */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* NOTIFICATION */
.notification-icon {
    font-size: 22px;
    cursor: pointer;
    color: #4b5563;
}

.notification-icon:hover {
    color: #16a34a;
}

/* USER */
.user-pill {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    cursor: pointer;
    transition: 0.2s;
}

.user-pill:hover {
    background-color: #f0fdf4;
}

.user-icon {
    font-size: 26px;
    color: #16a34a;
}

.username {
    font-size: 14px;
    font-weight: 500;
    color: #14532d;
}